<div class="message row px-3 mb-3">
  <div class="message <%= "right" if user_is_messages_author %>" style="text-align:right ;width: 100%;">
    <%= cl_image_tag message.user.photo.key, width: 50, height: 50, crop: :fill, class: "rounded-circle" %>
    <div class="message-content"><%= message.content %></div>
  </div>
</div>
