<div class="message row px-3 mb-3">
  <div class="message <%= "right" if user_is_messages_author %>" >
    <%= cl_image_tag message.user.photo.key, width: 42, height: 42, crop: :fill, class: "rounded-circle border border-secondary" %>
    <div class="message-content d-inline"><%= message.content %></div>
  </div>
</div>
