// colours (see Figma)

$light_pink: #F9D9EB; //(background main page && social media icons! only front page)
$hot_pink: #f36b7f; //(ie. button)
$dark_pink: #D31F4C; //(darker pink when hovering)
$light_yellow: #FFEFBE; //(background body)
$grey: #C4C4C4; //(anything that needs to be grey)
$soft_blue: #9FBFFF;
$yello: #FFC108;
// $bright-yellow: #F5FF00;
$warning: yellow;

//border-radius

$border: 4px;

//shadow (different than Figma)

$shadow: 0 0 19px rgba(0, 0, 0, 0.11);

.yellow {
  color: $yello
}

.light-grey {
color: #919191;
}
