// colours (see Figma)

$light_pink: #F9D9EB; //(background main page && social media icons! only front page)
$hot_pink: #FF255C; //(ie. button)
$light_yellow: #FFEFBE; //(background body)
$grey: #C4C4C4; //(anything that needs to be grey)
$soft_blue: #9FBFFF;

//border-radius

$border: 4px;

//shadow (different than Figma)

// $shadow: 7px 8px 16px -7px rgba(0,0,0,0.33);
$shadow: 0 0 15px rgba(0,0,0,0.2);

