<div class="container-fluid startpage">
    <div class="row h-100">
        <div class="col-8 banner">
            <%= image_tag "pablo-friendship.png", class: "w-100" %>
        </div>
        <div class="col-4 content text-left">
            <h5>Find your jam session</h5>
            <h2><strong>It's easy</strong> </h2>
            <div class="search">
            <%= render 'shared/searchbar'  %>
            </div>
        </div>
    </div>
</div>