<div class="mt-1 mx-1">
  <h6 class="border-bottom pb-2"><%= jam_session.title %></h6>
<!--   <p class="subtitle"><%= jam_session.starts_at.strftime("%b %C")%> -->
  <p class="subtitle"><%= jam_session.location %></p>
</div>
