<div class="container">
  <div class="row">
    <%= render 'shared/search-result' %>
  </div>
  <div class="row">
    <div class="col-6">
      <%= render 'shared/card-s' %>
    </div>
    <div class="col-6 mapbox-container">
      <div
        id="map"
        style="height: 100vh; position: sticky; top: 0px; border-radius: 6px; "
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>

