<div>
  <p>Where</p>
  <%= form_tag jam_sessions_path, method: :get do %>
  <%= text_field_tag :location,
    params[:location],
    class: "form-control",
    placeholder: "Search for Jams" %>
</div>
<div>
  <p>Instrument</p>

  <%= select_tag :instrument_id,
    options_from_collection_for_select(@instruments, 'id', 'name'),
    :include_blank => true, class: "btn dropdown-toggle dropdwn" %>
</div>
  <!-- //datepicker here please!!!!!! -->

<div class="search-buttons">
  <%= submit_tag "Search", class: "btn btn-primary btn-sm searchbtn" %>
<% end %>
</div>