<% @jam_sessions.each do |jam_session| %>
  <div class="col-4 background-w">
    <h6><%= jam_session.title %></h6>
    <p class="subtitle"><%= jam_session.location %></p>
    <p><%= jam_session.description %></p>
    <%= link_to "See more", jam_sessions_path, class: "btn-sm hot-pink" %>
  </div>
<% end %>


