<div class="col-4 bg-white shadow">
  <h4 class="text-center my-4">Messages</h4>
  <div class="messages-list border-bottom mb-4" style="overflow-x: scroll; height: 360px">
    <div class="row px-3 mb-3">
      <div class="col-2 d-flex align-items-end">
        <img src="https://via.placeholder.com/40x40" class="rounded-circle">
      </div>
      <div class="col-10 p-2 border rounded">
        <p>Hello everyone, I am very excited that you are joining! I don't have a set idea on what we should play, so feel free to make suggestions! :)</p>
      </div>
    </div>

    <div class="row px-3 mb-3">
      <div class="col-10 p-2 border rounded">
        <p>Hello everyone, I am very excited that you are joining! I don't have a set idea on what we should play, so feel free to make suggestions! :)</p>
      </div>
      <div class="col-2 d-flex align-items-end">
        <img src="https://via.placeholder.com/40x40" class="rounded-circle">
      </div>
    </div>

    <div class="row px-3 mb-3">
      <div class="col-2 d-flex align-items-end">
        <img src="https://via.placeholder.com/40x40" class="rounded-circle">
      </div>
      <div class="col-10 p-2 border rounded">
        <p>Hello everyone, I am very excited that you are joining! I don't have a set idea on what we should play, so feel free to make suggestions! :)</p>
      </div>
    </div>

    <div class="row px-3 mb-3">
      <div class="col-10 p-2 border rounded">
        <p>Hello everyone, I am very excited that you are joining! I don't have a set idea on what we should play, so feel free to make suggestions! :)</p>
      </div>
      <div class="col-2 d-flex align-items-end">
        <img src="https://via.placeholder.com/40x40" class="rounded-circle">
      </div>
    </div>

  </div>

  <div class="messages-input">
    <div class="form-group text-right ">
      <textarea placeholder="Type your message here" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button type="submit" class="btn btn-primary btn-sm searchbtn mt-4">Send</button>
    </div>

  </div>

</div>
