<div class="col-lg-9 col-sm-12 mt-5 display-result">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <p class="search-result-text border-right"><span class="fas fa-search mr-2 text-secondary"></span><%= @instrument_input %></p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <p class="search-result-text"><span class="fas fa-map-marker-alt mr-2 text-secondary"></span><%= @location_input %></p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <p class="search-result-text"><span class="far fa-calendar-alt mr-2 text-secondary"></span><%= @starts_at_input %></p>
    </div>
  </div>
</div>

