<div class="container-fluid startpage">
  <div class="row h-100">
    <div class="col-8 banner">
      <%= image_tag "pablo-friendship.png", class: "w-100" %>
    </div>

    <div class="col-4 mt-4 px-5">
      <div class="">
        <h6 class="bold mt-4">It's easy</h6>
        <h3 class="font-weight-lighter">Find your jam session</h3>
      </div>
      <div class="search">
        <%= render 'shared/searchbar'  %>
      </div>
    </div>
  </div>
</div>
