<div class="container-fluid startpage">
    <div class="row h-100">
        <div class="col-8 banner">
            <%= image_tag "pablo-friendship.png", class: "w-100" %>
        </div>
        <div class="col-4 content">
            <div class="mb-3">
              <h7 class="bold">Find your jam session</h7>
              <h2>It's easy</h2>
            </div>
            <div class="search">
              <%= render 'shared/searchbar'  %>
            </div>
        </div>
    </div>
</div>
