<div class="container-fluid startpage">
  <div class="row h-100">
    <div class="col-md-8 col-sm-12 banner d-none d-md-flex">
      <%= image_tag "pablo-friendship.png", class: "w-100" %>
    </div>

    <div class="col-md-4 mt-4 px-5">
      <div>
        <h3 class="font-weight-lighter" style="margin-top: 5rem;">
        Find your jam session
        </h3>
        <h6 class="bold" style="font-weight: 300; color: grey; margin-bottom: 5rem;">
        It's easy</h6>
        </div>
      <div class="search">
        <%= render 'shared/searchbar'  %>
      </div>
    </div>
  </div>
</div>
