.startpage{
    //display: flex;
    //justify-content: space-between;
    
}

.banner{
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content h1 {
    margin: 20px;
}

.search div{  
    padding: 20px;
}