.background-w {
  border: solid 1px #e2e2e2;
  background-color: white;
  box-shadow: $shadow;
  border-radius: $border;
  padding: 1em;
}

.background-grey {
  border: solid 1px #e2e2e2;
  background-color: rgba(196,196,196,0.5);
  box-shadow: $shadow;
  border-radius: $border;
  padding: 1em;
  &:hover {
    background-color: rgba(196,196,196,0.3);
  }
}

.hot-pink {
  color: $hot-pink;
  padding: 0;

    &:hover {
      text-decoration: none;
      color: $dark_pink;
    }
}

.min-h {
  min-height: 240px;
}

.card-session-show {
  img {
    margin-right: -10px;
   width: 60px;
    height: 60px;
  }
  p {
    line-height: 62px;
    margin-right: 16px;
  }
}
