.card-container {
  position: relative;
  background-color: white;
  border-radius: $border;
  box-shadow: $shadow;
}

.user_pic {
  margin: 30px 0 30px 30px;
  justify-content: center;
}

#user-name-one-line {
  white-space: nowrap;
  text-align: center;
}

.bio-display {
  margin: 30px 0 30px 30px;
}
