#back-button-display {
  margin-top: 50px;
}

.bio-display {
  padding: 0 30px 0 30px;
}

.inline-list li {
  display: inline;
}

#about-me-color, #past-jam-title-color {
  color: $soft_blue;
  font-size: 24px;
    margin-bottom: 27px;
}

#past-jam-title-color {
  margin: 0px 20px 20px 40px;
  padding-top: 20px;
}

.passed-jams {
  margin: 20px;
}

.passed-jams-cards {
  padding-bottom: 10px;
  margin: 20px;
  border-bottom: solid;
  border-color: $grey;
  border-bottom-width: 1px;
}

#no-jam-alignement {
  margin-left: 20px;
}

ul {
  list-style-type: none;
}
