.instrbtn{
    color: white;
    background-color: $hot_pink;
    border-radius: 4px;
    border: 1px solid white;
    // padding: 10px;
    width: 177px;
    margin-top: 1em;

    &:hover {
      background-color: white;
      color: $hot_pink;
      border: 1px solid $hot_pink;
      border-radius: 4px;
      transition-duration: 500ms;
    }
}

.searchbtn{
    color: white;
    background-color: $hot_pink;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px;
    width: 120px;
    margin-top: 1em;

    &:hover {
      background-color: white;
      color: $hot_pink;
      border: 1px solid $hot_pink;
      border-radius: 4px;
      transition-duration: 500ms;
    }
}

.big-button {
  margin: 24px 0px;
  margin-bottom: 1px;
  text-align: center;
  padding: 10px;
  border: solid 1px #e91f62;
  font-weight: bold;
  color: #E91E63;
  display: block;
  width: 100%;

  &:hover {
      border: solid 1px #e91f62;
      background-color: $hot_pink;
      text-decoration: none;
      color: white;
      transition-duration: 500ms;
    }
}

.reviewbtn {
  margin: 24px 0px 0px 0px;
  padding: 10px;
  color: $hot_pink;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $hot_pink;
  padding: 3px 6px;
  width: 100%;
  // width: 80px;

  &:hover {
      // background-color: white;
      color: white;
      border: 1px solid $hot_pink;
      background-color: $hot_pink;
      border-radius: 4px;
      transition-duration: 500ms;
    }
}

// .reviewbtn {
//   color: white;
//   background-color: $hot_pink;
//   border-radius: 4px;
//   border: 1px solid white;
//   padding: 10px;
//   width: 120px;

//   &:hover {
//       background-color: white;
//       color: $hot_pink;
//       border: 1px solid $hot_pink;
//       border-radius: 4px;
//     }
// }
